{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Les tests avec Symfony PHPUnits</h1>
    <a href="{{ path('app_product') }}" class="btn btn-secondary">Les produits</a>
</div>
{% endblock %}
