{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Les produits</h1>
    <a href="{{ path('app_product_new') }}" class="btn btn-primary my-3">Ajouter un produit</a>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3 p-3">
                <h3>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a>
                </h3>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
